
    .headerDiv {
        width: 960px;
        height: 85px;

        margin: auto;
        overflow: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
  
  
    #mainBio {
        padding: 10px 10px 10px 10px;
        float: left;
        text-align : justify;

    }

    body {
        background-image: url("../img/papyrus-bg.png");
        background-repeat: repeat;
        margin: 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        
    }
    a:link {
        color: gray;
        text-decoration: none;

      }
      
      /* visited link */
      a:visited {
        color: gray;
        text-decoration: none;
      }
      
      /* mouse over link */
      a:hover {
        color: gray;
        text-decoration: none;

      }
      
      /* selected link */
      a:active {
        color: gray;
        text-decoration: none;

      }
    #links {
        text-align: right;

        /* color: gray; */
        padding-top: 40px;
        padding-right: 15px;
        float: right;
    }
    #logo {
        height: 55px;
        text-align: center;
        padding-top: 30px;
        text-align: left;
        background-color:blue;
margin: 0 0 0 0 ;

    }


    #logo,
    #imgSection,
    #mainBio
     {
        float: left;
    }

  
#insideTitle {
    margin: 0 15px 0 15px;
}
.longDiv {
    border: 2px solid black;
margin: auto;
    width: 99.4%;
    height: 85px;
    overflow: auto;
    clear: both;
    background-color: white ;
    margin-bottom: 30px;
}
    #imgSection {
        width: 200px;
        height: 200px;
        margin-right: 10px;
        margin-left: 15px;
    }

    .myDiv {
        padding: 15px 15px 15px 15px;
        margin: auto;
        margin-bottom: 30px;
        width: 930px;
        background-color: aqua;
        /* clear: both; */
        overflow: auto;
    }
    #footerDiv {
        background-color: beige;
        padding-top: 20px;
        position: relative;
        bottom: 0 ;
        height: 40px;
        text-align: center;
        /* clear: both; */
        border-top: 10px solid gray;
    }
    input[type=text],input[type=email], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      .imgs {
          
          height: 250px;
          width: 250px;
          margin: 15px 15px 15px 15px;
      }
     .imgSection {
         float: left;
     }
     .imgLable {
         position: absolute;
         top: 30px;

     }